* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: #03045e
} 

header .contaiter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.salida {
    position: absolute;
    background-color: #03045e;
    color: white;
    cursor: pointer;
    right: 1%;
    border: none;
}

.salida:hover {
    background-color: #1d1e5c;
}

img { 
    height: 90px;
}

.tituloContainer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.busqueda {
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.buscarUsuario {
    height: 100%;
    margin-left: 10px;
    background-color: #5F59B2;
    color: white;
}

.overcontainer {
    height: 60%;
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: row;
    padding-top: 5%;
    background-color: #dad9d9;
    border-radius: 10px;
}

.lados {
    width: 80%;
    height: 90%;
    margin: auto;
}

p {
    font-size: 20px;
}

.izquierdo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    width: 80%;
    // height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.editarPerfil {
    // width: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: #5F59B2;
    color: white;
}

.derecho {
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 50px;
    background-color: #dad9d9;
    height: 12%;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

.botones {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.conteinerVehiculo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 50px;
    background-color: #dad9d9;
    height: 30%;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

.pienDepagina {
    height: 10%;
}