<header>
    <div class="contaiter">
    <img [routerLink]="['/menuFuncionario']" src="../../../assets/logo.png" alt="Logo TEC">
    <button [routerLink]="['/adCursos']" class="salida">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-arrow-up" viewBox="0 0 16 16">
            <path d="M8 11a.5.5 0 0 0 .5-.5V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 .5.5z"/>
            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
        </svg>
    </button>
    </div>
</header>
<div class="tituloContainer">
  <h1 class="titulo">Crear reservación</h1>
</div>
<div class="overcontainer">
    <div class="derecha">
        <form>
            <mat-form-field appearance="outline">
              <mat-label>Ubicaiones</mat-label>
              <mat-select [(ngModel)]="ubicacion" name="ubi">
                <mat-option *ngFor="let ubi of ubicaciones" [value]="ubi.value">
                  {{ubi.view}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </form>
        <div class="aparcamientos">
          <mat-radio-group class="gurpoRadius"
            [(ngModel)]="aparcamiento">
            <mat-radio-button class="radioButton" *ngFor="let aparca of aparcamientos" class="item" [value]="aparca">
              {{aparca.name}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="cajaBot">
          <form>
            <mat-form-field appearance="outline">
              <mat-label>Vehiculos</mat-label>
              <mat-select [(ngModel)]="placa" name="ubi">
                <mat-option *ngFor="let placa of placas" [value]="placa.placa">
                  {{placa.placa}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <mat-checkbox class="check-arrendar" [(ngModel)]="arrendar">Arrendar</mat-checkbox>
        </div>
    </div>
    <div class="izquierda">
      <mat-form-field appearance="outline" class="fechaReservacion">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="dp3" disabled [(ngModel)]="fechaActual">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
      <form class="input inicio">
        <mat-form-field class="input-inicio-field" appearance="outline">
          <mat-label>Inicio</mat-label>
          <input type="time" matInput placeholder="00:00">
        </mat-form-field>
      </form>
      <form class="input final">
        <mat-form-field class="input-inicio-field" appearance="outline">
          <mat-label>Final</mat-label>
          <input type="time" matInput placeholder="00:00">
        </mat-form-field>
      </form>
      <button mat-flat-button class="aceptar-recervacion">Reservar</button>
    </div>
</div>
