* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: #03045e
} 

header .contaiter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.salida {
    position: absolute;
    background-color: #03045e;
    color: white;
    cursor: pointer;
    right: 1%;
    border: none;
}

.salida:hover {
    background-color: #1d1e5c;
}

img { 
    height: 90px;
}

.overcontainer {
    height: 80%;
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: row;
    padding-top: 5%;
}

.izquierda {
    height: 100%;
    width: 100%;
}

.derecha {
    height: 100%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    .form-field-label {
      white-space: nowrap;
    }
    .form-field-label + mat-form-field {
     margin-left: 10px;
    }
    mat-form-field {
      width:100%;
    }
}