<header>
    <div class="contaiter">
    <img src="../../../assets/logo.png" alt="Logo TEC">
    </div>
</header>
<section class="inicio-sesion">
    <div class="container">
        <mat-tab-group headerPosition="below" class="deslis-sesiones">
            <mat-tab label="Funcionario">
                <div class="inicio">
                    <h2>Funcionario</h2>
                    <h3>Ingresar</h3>
                    <mat-form-field appearance="outline" class="inputLogin">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput placeholder="EMAIL" inputmode="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="inputLogin">
                        <mat-label>Contraseña</mat-label>
                        <input [(ngModel)]="contrasena" matInput placeholder="Placeholder" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <button class="buttonAcept" (click)="loguin()">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </div>
                        <span>Iniciar Sesión</span>
                    </button>
                </div>
            </mat-tab>
            <mat-tab label="Administrador">
                <div class="inicio">
                    <h2>Administrador</h2>
                    <h3>Ingresar</h3>
                    <mat-form-field appearance="outline" class="inputLogin">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput placeholder="EMAIL" inputmode="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="inputLogin">
                        <mat-label>Contraseña</mat-label>
                        <input [(ngModel)]="contrasena" matInput placeholder="Placeholder" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <button class="buttonAcept" [routerLink]="['/menuAdmin']">
                        <div class="icono">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </div>
                        <span>Iniciar Sesión</span>
                    </button>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</section>
<footer>
    <div class="container">
      <p>&copy; Programa del TEC 2022</p>
    </div>
</footer>